.aui-nav-content-box {
    width: 650px;
    position: relative;
	margin:40px auto;
}

.aui-nav-list-box {
    overflow: hidden;
    zoom: 1; border-bottom: none;
    z-index: 110;
    background: #fff;
    width: 648px;
    display: block;
    border-top: solid 1px #d1d1d1;
    border-left: solid 1px #d1d1d1;
}

.aui-nav-list-box ul li a {
    color: #000;
}

.aui-nav-list-box ul li {
    float: left;
    color: #000;
    height: 45px;
    cursor: pointer;
    line-height: 45px;
    width: 80px;
    text-align: center;
    font-size: 14px;
    border-right: solid 1px #d1d1d1;
    border-bottom: solid 2px #d1d1d1;
}

.aui-nav-list-box ul .aui-current {
    color: #f54343;
    background: #f7f7f7;
    border-bottom: solid 2px #f54144;
    font-weight: bold;
}

.aui-nav-list-box ul .aui-current a {
    color: #f54343;
}

.aui-page-list {
    width: 650px;
    height: 102px;
    padding-top: 12px;
    position: relative;
    overflow: hidden;
    border-top: 1px solid #ddd;
    padding-bottom: 10px;
}

.aui-page-img {
    width: 160px;
    height: 100px;
    float: left;
    margin-right: 24px;
    overflow: hidden;
}

.aui-page-img img {
    width: 100%;
    height: auto;
    display: block;
    border: none;
}

.aui-page-text {
    float: left;
    width: 460px;
    height: 100px;
    position: relative;
}

.aui-nav-list-item {
    display: none;
}

.aui-page-text h2 {
    line-height: 20px;
    font-weight: 600;
}

.aui-page-text h2 a {
    color: #004276;
    font-size: 14px;
    text-align: justify;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
    text-overflow: ellipsis;
}

.aui-page-text h2 a:hover {
    color: #f54144;
    text-decoration: underline;
}

.aui-page-text p {
    font-size: 14px;
    color: #999;
    position: absolute;
    right: 0;
    bottom: 5px;
    width: 100%;
}

.aui-page-text p em {
    font-style: normal;
}

.aui-comment {
    background: url("../img/icon-pl.png") no-repeat repeat;
    background-size: 20px;
    padding-left: 25px;
    float: right;
}

.aui-comment-box {
    width: 1100px;
    margin: 0 auto;
    padding-top: 40px;
}

.aui-banner-right {
    width: 430px;
    height: 282px;
    background: #ddd;
    float: right;
}

.aui-banner-right-ovr {
    width: 430px;
    height: 282px;
    background: #ddd;
    float: right;
}